$primaryColor: #2196F3;
$secondaryColor: #6FCF97;

$gradientColor: #8BA4F9;

$darkShadeColor: #1f2041;

$errorText: #FF4646;
$softErrorText: #fa62ff;
$errorBorder: red;

$text_primary: #4A4A4A;
$text_light: #999999;